.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBtn {
  display: flex;
  align-items: center;
}
.topBtn > * {
  margin-right: 10px;
}
.searchPart {
  position: relative;
  border-radius: 6px;
}
.searchPart > input {
  border: none;
  border-radius: 6px;
  background-color: #f4f4f4;
  width: 350px;
  height: 45px;
  padding-left: 15px;
}
.table{
  margin-top: 50px;
}
.headTable {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.headTable > * {
  margin: 5px;
}
.imgBox{
  display: flex;
  justify-content: center;
  align-items: center;
}